.msg { margin-left: 2em; }

body {
  background-color: #6293FD;
}

.page-content {
  position:relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: white;
}
